@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}
html{
    height: 100%;

}
body {
    background: #FAFAFA;
    height: 100%;
    font-family: 'Montserrat' , sans-serif;
}

header{
   /* display: none;  */
     display: flex !important ;
    background: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    background-color: #0087cd;
   
    padding: 22px 1px; 
    padding-left: 2%; 
     padding-right: 2%; 
  
    top: 0;
    z-index: 5;

}

.register_wrapper {
    display: none; 
    padding-top: 6%;
    margin-top: 50px;
    max-width: 40em;
    margin: auto;
}




.login_wrapper {
    padding-top: 9%;
    margin-top: 50px;
    max-width: 40em;
    margin: auto;

    display: none; 
}


.feed_wrapper{
    height: 100%;
 /*  display: none;  */
    
}


.login_wrapper .noAccount_bt{
    border: 1px solid lightsteelblue;
    border-radius: 11px;
    background: gainsboro;
    width: 32%;
    height: 35px;
    margin-left: 34%;
    margin-top: 6%;
}
.login_wrapper .login_header{
    border: 1px solid;
    padding: 5% 1%;
    background: white;
    border-radius: 6px;
    margin-bottom: 7%;
    text-align: center;
}
.login_wrapper .login_header_error{
    border: 1px solid red;
    padding: 2% 1%;
    background: #ffabab69;
    color: red;
    border-radius: 6px;
    margin-bottom: 7%;
    text-align: center;
}




.register_wrapper .register_footer{
margin-top: 7%;
display: flex;
padding: 2% 8%;
border: 1px solid gainsboro;
background-color: #ccc;
border-radius: 10px;
}

.register_wrapper .reg_back_bt{
    border: 1px solid lightsteelblue;
    border-radius: 8px;
    background: gainsboro;
    height: 35px;
    width: 20%;
    color: darkolivegreen;
  

}
.register_wrapper .reg_later_bt{
    border: 1px solid lightsteelblue;
    border-radius: 8px;
    background: gainsboro;
    height: 35px;
    width: 20%;
    margin-left: 61%;
    color: darkolivegreen;
    

    
}
.register_wrapper .register_header{
    padding: 3%;
    margin-bottom: 5%;
    color: darkslategrey;
    border: 1px;
    border-radius: 5px;
    font-size: large;
}

.register_wrapper .light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
}

.register_wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.register_wrapper li {
    width: 30%;
    margin: .5em;
}

.register_wrapper figure {
    margin: 0;
    padding: 0;
}

.register_wrapper .resp {
    width: 100%;
}

.register_wrapper input, button {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

.register_wrapper button{
    background-color: #ccc;
    color: #fff;
}

.register_wrapper .footer{
    width: 100%;
    display: flex;
    padding: 7% 1%;
    text-align: center;
}
.register_wrapper .register {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    border: 1px solid darkgoldenrod;
    padding: 1% 1%;
    border-radius: 6px;
    
}
.register_wrapper .register_later {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    border: 1px solid darkgoldenrod;
    padding: 1% 1%;
    border-radius: 6px;
    
}
.register_wrapper .error_box{
color: red;
border: 1px solid red;
padding: .7em 1em;
background: #e4272714;
width: 94%;
}

.search_but{
    width: 8%;
    background-color: #0087cd;
    border-left: 0;
    padding: 13px 0px;
    margin-top: 0px;
    border-radius: 10px;
    margin-left: -9%;
    padding-top: 4px;
    border: 0.1px solid #0087cd;


}
 header ::placeholder {
    color:  #FAFAFA;
   
  }

.feed_container:after{
    content: "";
    display: table;
    clear: both;
}

a {
  width: 35%;  
  background-color: #0087cd;

    
}
.search_form{
    height: 31px;
    display: flex;
    width: 70%;
   

  
}
.search_input{
    width: 60%;
    padding: 17px 0px;
    padding-left: 10px;
    margin-top: -4px;
    border-radius: 10px;
    color: #FAFAFA;
    background-color: #0087cd;
    border: 2px solid #FAFAFA;


}

.logo{
    width: 80px;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from{
        transform : translateX(0px)
    }

    to {
        transform: translateX(50px);
    }
    
}


.fas {
    color: #FAFAFA!important;
    font-size: 16px;
   
}


.right{
    background: #FAFAFA;
    width: 60%;
    padding-top: 50px;
    margin-top: 50px;
    height: 100%;
}
.card_holder{
    margin-bottom: 4%
}
.column{
    float: left;
}
.left{
    width: 40%;
    height: 100%;
    padding-top:50px ;
}

.login_left_div{
        display: flex;         
        justify-content: space-evenly;
        padding: 4% 1%;
        text-align: center;
}
.header_login{
border-radius: 7px;
    width: 10%;
    border: 1px;
    height: 35px;
   
}
.header_register{
    border-radius: 7px;
    width: 10%;
    border: 1px;
    height: 35px;
    margin-left: 2%;
   
}
.left_child{
    height: 70%;
    position: fixed;
    width: 35%;
}
.post_form{
    height: 100%;
    padding-top: 11%;
    padding-left:4% ;
}
.create_post_image{
    width: 30%;
    margin: auto;
    border: 1px solid whitesmoke;
    border-radius: 8px;
}
.create_post_image_div{
    width: 100%;
    text-align: center;
    background: #FAFAFA;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 3%;
    
}

.light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
    display: table;
    width: 100%;
    text-align: center;
}
.card{
    background: #fff;
    height: 72%;
    width: 45%;
    margin: inherit;
    margin-left: 15%;
    border: 8px solid #ffffff8a;
    border-radius: 8px;
    padding-bottom: 1%;

}
.card_header{
    padding: 15px;
    background: white;
    position: relative;
}
.profile_image{
    background: hotpink;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;

}

.user_name{
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding-left: 7px;
}
.time{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    top: 29px;
}
.content .postPic {
    width: 100%;
}

.discription{
    padding: 5px 10px;
}
.comment{
width: 100%;
padding-left: 1%;
}
.comment_input{
    width: 75%;
    display: inline-block;

}
.comment_number{
display: inline-block;
width: 23%;
font-size: x-small;
padding-left: 0%;
}
.comment_input  input{
    height: 25px;
    width: 90%;
    border: 1px;
    background: whitesmoke;
    border-radius: 20px;
    padding-left: 10px;
}



